<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="css/jquery.fatNav.css">
    <link rel="stylesheet" href="css/data.css">
    <title>Hi、土豆</title>
</head>

<body>
    <div class="head">
        <div class="header">
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-lajiao-"></use>
            </svg>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-kaoyu-"></use>
            </svg>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-haipabiaoqing"></use>
            </svg><span class="hxp-fontfamily">土豆卟吃辣</span>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-fanqie"></use>
            </svg>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-nangua-"></use>
            </svg>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-taozi-"></use>
            </svg>
            <svg class="icon" style="font-size: 25px;">
                <use xlink:href="#icon-huachibiaoqing"></use>
            </svg>

        </div>
        <div class="fat-nav">
            <div class="fat-nav__wrapper">
                <ul>
                    <li><a href="https://www.xipengheng.cn/Tangshi" class="scroll">返回</a></li>
                    <li><a href="https://www.xipengheng.cn" class="scroll">我的博客</a></li>
                    <li><a href="https://www.xipengheng.cn/music/" class="scroll">音乐（PC端）</a></li>
                    <li><a href="https://github.com/GitHpotato" class="scroll">GitHub</a></li>
                    <li><a href="mailto:hengxipeng@163.com" class="scroll">联系我</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-3 hxp-li-">
            <ul class="text-left hxp-li-margin">
                <li>
                    <img src="/img/foo.jpg" alt="图片资源不存在" width='100px' height="100px">
                </li>
                <li><svg class="icon" style="font-size: 25px;">
                        <use xlink:href="#icon-BOOKMARKINGSERVICES"></use>
                    </svg>诗词内容</li>
                <li><svg class="icon" style="font-size: 25px;">
                        <use xlink:href="#icon-rili"></use>
                    </svg>作品解析</li>
                <li><svg class="icon" style="font-size: 25px;">
                        <use xlink:href="#icon-xihuan"></use>
                    </svg><a href="mailto:hengxipeng@163.com">联系我</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="hxp-fontfamily"><svg class="icon" style="font-size: 30px;">
                    <use xlink:href="#icon-BOOKMARKINGSERVICES"></use>
                </svg>诗词内容</h2>
            </h2>
            <!-- /*lead*/ -->
            <div class="container-fluid hxp-size-">
                <div class="app1">
                    <hxp_content></hxp_content>
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <h2 class="hxp-fontfamily"><svg class="icon" style="font-size: 30px;">
                    <use xlink:href="#icon-rili"></use>
                </svg>诗词解析</h2>
            </h2>
            <div class="container-fluid hxp-size-">
                <div class="app2">
                        <hxp_translation></hxp_translation>
                </div>
            </div>
        </div>
    </div>
    <div class="app3">
      <hxp_appreciation></hxp_appreciation>
    </div>

</body>
<template id="hxp-content-info">
    <div class="row-fluid text-center">
        <h3 class="text-success">《{{title}}》</h3>
        <h4 class="text-right">--{{author}}&#12288&#12288&#12288</h4>
        <ul v-for="(item,index) in content">
            <li>{{item}}</li>
        </ul>
    </div>
</template>
<template id="hxp-translation-info">
    <div class="row-fluid">
        <h3 class="text-warning">{{title}}(解析)</h3>
        <h4 class="text-right">--{{author}}&#12288&#12288&#12288</h4>
        <p v-for="(item,idnex) in translation">{{item}}</p>
    </div>
</template>
<template id="hxp-appreciation-info">
    <div>
        <p class="lead text-danger">创作背景：</p>
        <a>{{appreciation}}</a>
    </div>
</template>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/fonts/iconfont.js"></script>
<script src="/js/jquery.fatNav.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="info.js"></script>

</html>