* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.header{
    padding: 1em;
    border-bottom: 2px solid rgba(243, 237, 237,0.5);
}

body{
    background: url(https://www.xipengheng.cn/Tangshi/img/bg520.jpg);
}

ul li{
    list-style: none;
    border-bottom: 1px solid rgba(233, 175, 175, 0.8);
 }
 
.head{
    width: 100%;
    height: 10rem;
    background: url(https://www.xipengheng.cn/Tangshi/img/data_bg.jpg);
    background-size: 100%;
}
.hxp-li-margin li{
    line-height:3em;
    width: 10em;
}
.hxp-fontfamily{
    font-family: STXingkai;
}
.hxp-size-{
    height: 20em;
    overflow-x: hidden;
}